
h2 {
  /* font-family: 'Sebaldus-Gotisch'; */
  counter-increment: h2-counter;
  display: flex;
  flex-direction: column;
  font-size: 4em;
  /* height: 6cm; */
  justify-content: flex-end;
  margin: 0;
  margin-bottom: .5rem;
  string-set: heading content();
  text-align: left;
  text-transform: uppercase;
}
/* h2::before { */
/*   content: "Section " counter(h2-counter) " "; */
/*   display: block; */
/*   font-size: 1.2rem; */
/*   font-weight: normal; */
/*   line-height: 2; */
/* } */

.border {
  border: 1px solid lightgray;
}
